extends layout

block scripts
  script(type='text/javascript', src='/javascripts/admin.js')

block content
  h1 Admin Console
  h2 Stickies
  if stickies
    table.stickies
      thead
        tr
          th ID
          th Text
          th
      tbody
        for sticky in stickies
          tr
            td= sticky.text
            td
              a(href="##{sticky.id}") Delete
  else
    table.stickies
    p No stickies