extends layout

block scripts
  script(type='text/javascript', src='/javascripts/stickyboard.js')
  script(type='text/javascript', src='/javascripts/client.js')

block content
  #menu
    h2 Sticky Wiki
    h3 "What fun things could the UI team do together?"
    form
      label(for="sticky-message") Your idea:
        textarea#sticky-message(rows="4",cols="23")
      br
      label(for="sticky-text-color") Ink:
      select#sticky-text-color
        option(value="black") Black
        option(value="blue") Blue
        option(value="red") Red
      br
      label(for="sticky-paper-color") Paper:
      select#sticky-paper-color
        option(value="yellow") Yellow
        option(value="pink") Pink
        option(value="green") Green
        option(value="blue") Blue
        option(value="orange") Orange
      br
      label(for="sticky-pin-color") Pin:
      select#sticky-pin-color
        option(value="red") Red
        option(value="green") Green
        option(value="yellow") Yellow
        option(value="blue") Blue
      br
      input#sticky-create(type="submit", value="Create Sticky")
    br
    form
      p Add stickers!
      label(for="sticker-type") Sticker:
      select#sticker-type
        option(value="heart") Heart
        option(value="teardrop") Teardrop
      input#sticker-toggle(type="button", value="Start Adding")
  #canvas