doctype 5
html
  head
    title Sticky Wiki
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/underscore.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    block scripts
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content