extends layout

block content
  h1 Register
  - if(errors)
    ul.errors
      li There were errors...
  form(method='post')
    | Username:
    input(type='text', name='username', value='#{form.username}')
    br
    | E-mail:
    input(type='text', name='email', value='#{form.email}')
    br
    | Password:
    input(type='password', name='password', value='')
    br
    input(type='submit', value='Register')